.history {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  transition: transform 300ms var(--timingFn);
}

.history:hover,
.history:focus {
  transform: scale(1.05);
}

.heading {
  background-color: #00bcd5;
  color: #fff;
}

.cell {
  width: 200px;
  padding: 10px 0;
}
